.Game{
display: inline-block;
align-items: center;
justify-content: center;
gap: 200px;
}

.Game li{
text-decoration: none;
list-style: none;
}
.one{
margin-top: 100px;
}
.two{
margin-top: 300px;
}
.three{
margin-top: 300px;
